/* CSS by Veronica Gable */

/* CSS Reset */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* SKIP LINK STYLES */
#skip {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}
#skip a:focus
{
position:static;
width:auto;
height:auto;
}

/* HIDDEN CONTENT STYLES */
.sr-only {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
  }

/* ROOT VARIABLES */
:root {
    --fonts: Montserrat, sans-serif;
    --headings: "Molle", cursive;
    --black: #222222;
    --white: #fff;
    --blue: #499BD2;
    --purple: #9B26B0;
    --sea-green: #55BCD5;
    --yellow: #F6D64A;
    --light-gray: #EAEAEA;
}

/* BODY STYLES */
body {
    font-family: var(--fonts);
    color: var(--black);
}

/* HEADING STYLES */
h1, h2, h3 {
    font-family: var(--headings);
}
h1 {
    font-size: 2.5rem;
}
h2 {
    font-size: 2.25rem;
}
h3 {
    font-size: 2.5rem;
}
h4 {
    text-transform: uppercase;
}

/* HEADER STYLES */
header {
    background: linear-gradient(var(--sea-green), var(--white));
    display: grid;
    grid-template-areas: 
    "logo menu"
    "heading heading"
    "subheading subheading";
    gap: 0.5rem;
    padding: 0.313rem 0 0 1.563rem;
}
header #logo {
    grid-area: logo;
}
header #logo img {
    max-width: 10rem;
    margin-left: -33px;
}
header h1 {
    grid-area: heading;
}
header p {
    font-size: 1.25rem;
    grid-area: subheading;
    line-height: 30px;
    width: 100%;
}

/* NAVIGATION STYLES */
nav {
    grid-area: menu;
    top: 15px;
    position: relative;
    justify-self: end;
}
nav ul {
    display: none;
    position: relative;
    background-color: var(--sea-green);
}
nav input[type="checkbox"] {
    display: none;
}
nav input[type="checkbox"]:checked + label + ul {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    justify-content: space-evenly;
    width: 100vw;
    left: -160px;
    top: -30px;
    text-align: center;
}
nav label {
    cursor: pointer;
    background-color: var(--yellow);
    display: inline-block;
    padding: 15px 50px;
    width: 100%;
}
nav label, nav ul {
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
}
nav ul li {
    border: 1px solid black;
    padding: 20px;
}
nav ul li a{
    text-decoration: none;
    color: var(--black);
}
nav input[type="checkbox"]:checked + label {
    width: 100vw;
    left: -219px;
    position: relative;
    top: -20px;
    background-color: var(--black);
    color: var(--white);
    text-align: center;
}

/* INTRO SECTION STYLES */
#intro {
    display: grid;
}
#intro h2 {
    width: 85%;
    margin: 30px auto 15px auto;
} 
#intro p {
    width: 85%;
    margin: 0 auto 0.75rem;
    line-height: 30px;
}

/* IMAGE GRID STYLES */
#img-grid {
    display: grid;
    gap: 0.5rem;
}
#img-grid img {
    width: 100%;
}

/* PLAN SECTION STYLES */
#plan {
    background-color: var(--yellow);
    margin: 20px 0;
}
#plan div {
    padding-bottom: 10px;
}
#plan section {
    background-color: var(--sea-green);
    width: 80%;
    display: flex;
    flex-direction: column;
    margin: 12px auto;
    border: 3px solid white;
    border-radius: 10px;
    padding: 15px;
    text-align: center;
}
#plan h3 {
    padding: 20px;
    margin-left: 20px;
}
#plan h4 {
    font-size: 2rem;
    font-weight: 500;
    margin-top: 10px;
}
#plan section img {
    margin: 25px;
    width: 60%;
}

/* TESTIMONIALS SECTION */
#testimonials h3 {
    padding: 15px;
    width: 85%;
    margin: 0 auto;
}
#testimonials h4 {
    font-weight: 500;
    font-size: 2.5rem;
}
#testimonials div {
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
    padding-bottom: 20px;
    margin: 0 auto;
}
#testimonials div section img {
    padding: 10px;
}
#testimonials div section p {
    margin: 5px;
}
#testimonials div section q {
    font-style: italic;
    line-height: 1.5rem;
    width: 75%;
    display: inline-block;
}

/* ABOUT STYLES */
#about {
    background-color: var(--blue);
}
#about div {
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: baseline;
    row-gap: 20px;
    margin: 0 auto;
    width: 85%;
}
#about h3 {
    width: 85%;
    margin: 1rem auto;
    padding-top: 1rem;
}
#about div h4 {
    font-size: 1rem;
    font-weight: 600;
}
#about div section {
    text-align: center;
    line-height: 25px;
}
#about div section img {
    width: 50%;
}
#about div section:nth-of-type(3) img {
    width: 30%;
}

/* CONTACT SECTION STYLES */
#contact {
    padding-bottom: 1rem;
}
#contact form {
    width: 85%;
    margin: 0 auto;
}
label, legend {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 0.75rem;
    letter-spacing: 0.25px;
}
legend {
    margin-bottom: 10px;
}
#contact h3 {
    width: 85%;
    margin: 1rem auto;
}
#contact h3 span {
    font-family: var(--fonts);
    font-style: italic;
    font-size: 0.8rem;
}
#contact form #names, #contact form #nums {
    display: flex;
    flex-direction: column;
}
#contact input[type=text], #contact input[type=email], #contact input[type=tel], .custom-select {
    border: 2px solid var(--purple);
    padding: 0.75rem;
    font-size: 0.75rem;
}
form .required {
    color: var(--purple);
}
#nums label {
    display: flex;
    align-items: center;
}
#names label, #nums label, #selects label {
    margin-bottom: 2px;
}
input, #selects .custom-select {
    margin-bottom: 15px;
}
::placeholder {
    color: var(--black);
    font-family: var(--fonts);
}
.radio-label {
    font-weight: 400;
    text-transform: none;
}
input[type=radio] {
    height: 2.5rem;
    width: 2.5rem;
    accent-color: var(--purple);
    margin-right: 0.625rem;
    outline: 1px auto var(--purple);
}
.custom-select {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}
.custom-select select{
    appearance: none;
    border: none;
    font-family: var(--fonts);
    font-size: 0.75rem;
}
.custom-select:after {
    content: "⌄";
    color: var(--purple);
    font-size: 20px;
    margin-top: -7px;
}
#contact input[type=submit] {
    background-color: var(--purple);
    border: none;
    padding: 0.75rem;
    width: 100%;
    color: white;
    font-family: var(--fonts);
    text-transform: uppercase;
    font-weight: 500;
}

/* FOOTER STYLES */
footer {
    display: flex;
    flex-direction: column;
    background-color: var(--light-gray);
    align-items: center;
    gap: 20px;
    padding: 20px;
    text-align: center;
    font-size: 0.75rem;
}
footer a {
    text-decoration: none;
    color: var(--black);
}

/* MEDIUM SCREEN STYLES */
@media screen and (min-width: 850px) {
    nav {
        width: 85%;
        margin: 0 auto;
    }
    nav label {
        display: none;
    }
    nav ul {
        display: flex;
        justify-content: space-between;
        position: initial;
        transform: none;
        background-color: transparent;
    }
    nav ul li {
        background-color: var(--white);
        padding: 15px;
        border: none;
    }
    .active {
        background-color: var(--yellow);
    }
    header {
        grid-template-areas:
        "logo heading heading heading"
        "logo subheading subheading subheading"
        "menu menu menu menu";
        padding: 2rem 0 0 1.563rem;
        height: 200px;
        grid-template-rows: 35px 60px 30px;
        grid-template-columns: 180px 2fr;
    }
    header #logo img {
        max-width: 20rem;
    }
    header p {
        grid-column: 2 / 4;
    }
    #intro {
        margin: 10px auto;
        width: 85%;
    }
    #intro p {
        grid-column: 1 / -1;
        width: 100%;
    }
    #intro h2 {
        margin: 1.5rem 0 0.75rem 0;
    }
    #intro h2, #intro p {
        padding: 0;
    }
    #img-grid picture {
        grid-column: 1 / span 2;
    }
    #plan div {
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 85%;
        margin: 0 auto;
    }
    #plan h3 {
        width: 85%;
        margin: 0 auto;
    }
    #testimonials div {
        flex-direction: row;
        width: 790px;
        flex-wrap: wrap;
        justify-content: space-between;
        row-gap: 30px;
    }
    #testimonials div section {
        flex-basis: 25%;
    }
    #testimonials div section q {
        width: 80%;
    }
    #testimonials h4 {
        width: 390px;
    }
    #about div {
        grid-template-columns: repeat(4, 1fr);
    }
    #about h3 {
        margin: 1rem auto 3rem auto;
    }
    #contact input[type=submit] {
        width: 30%;
        position: relative;
        left: 70%;
    }
    footer {
        flex-direction: row;
        justify-content: space-around;
    }
}

/* LARGE SCREEN STYLES */
@media screen and (min-width: 1120px) {
    header {
        grid-template-areas:
        ". . menu"
        "logo heading ."
        "logo subheading .";
        grid-template-rows: 50px 40px 60px;
        padding: 0 0 0 1.563rem;
        width: auto;
        grid-template-columns: 1fr 4fr 1fr;
    }
    header #logo img {
        max-width: 30rem;
    }
    nav {
        top: 0;
        width: 100%;
    }
    nav ul {
        width: 550px;
    }
    #intro {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 50px 1fr;
        column-gap: 10px;
        margin: 25px auto;
    }
    #intro p {
        grid-column: 1;
        grid-row: 2;
        width: 660px;
        margin: 0;
    }
    #intro h2 {
        margin: 0;
    }
    #img-grid {
        grid-column-start: 2;
        grid-row: 1 / 3;
    }
    #plan div {
        grid-template-columns: repeat(4, 1fr);
    }
    #plan div section:nth-of-type(2) {
        justify-content: space-between;
    }
    #plan div section:nth-of-type(2) img {
        width: 80%;
    }
    #testimonials div {
        width: 85%;
        flex-wrap: nowrap;
    }
    #testimonials div section {
        flex-basis: auto;
        width: 300px;
    }
    #testimonials h4 {
        font-size: 1.5rem;
        font-weight: 600;
        width: 100%;
    }
    #testimonials img {
        width: 60%;
    }
    form {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 20px;
    }
    #nums fieldset {
        display: flex;
        justify-content: space-between;
    }
    footer {
        display: grid;
        grid-template-columns: 2fr 1fr 1fr;
    }
    footer p {
        justify-self: flex-start;
        margin-left: 93px;
    }
    footer a:nth-of-type(2) {
        margin-left: 75px;
    }
}

